#container {
  background-image: repeating-linear-gradient(grey, black);
  height: 5rem;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  margin: 2rem;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center; }

#habit-list-container {
  text-align: center; }
  #habit-list-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: blue; }
  #habit-list-container td, #habit-list-container th {
    border: 1px solid #574747;
    text-align: left;
    padding: 8px; }
  #habit-list-container tr:nth-child(even) {
    background-color: #a3d8db; }
