*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

#pageHeading{
    margin: 1rem;
    height: 4rem;
    background-image: repeating-linear-gradient(gray,black);
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        color: whitesmoke;
    }
}

#formContent{
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    
    
    input{
        font-size: 1rem;
        padding: 15px;
        margin: 10px;
    }

    input[type=submit]{
        position: relative;
        left: 30%;
    }

}

