footer {
  height: 5rem;
  background-color: lightslategray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif; }

#footerContent {
  font-size: 15px;
  display: inline; }
  #footerContent a {
    text-decoration: none;
    color: whitesmoke; }
  #footerContent p {
    color: whitesmoke; }

#footerActionLinks {
  font-size: 15px;
  display: inline; }
  #footerActionLinks a {
    text-decoration: none;
    color: whitesmoke; }
  #footerActionLinks li {
    list-style-type: none; }
