<header>
    
   


<% if(locals.user) { %>
    <div id="pageLogo">
        <a href="/">
            Habbit Tracker
        </a>
    </div>
    <div id="headerActionIcons">
        
            <a href='/users/profile'>
                <%= user.name%>
            </a>

            <a href='/users/viewAll'>
                Calender view
            </a>
        
        
            <a href='/users/sign-out'>
                Sign Out
            </a>
        
    </div>
    <% }else{ %> 
        <div id="pageLogo">
            <a href="/">
                Habbit Tracker
            </a>
        </div>
        
        <div id="headerActionIcons">
            
                <a href='/users/sign-in'>
                    Sign In
                </a>
                <span></span>
            
                <a href='/users/sign-up'>
                    Sign Up
                </a>
            
        </div>
    <%} %>

</header>
    